body {
    background: hsl(0, 0%, 7%);
	color: white;
}

button {
    background: #444;
    border-color: #666;
    color: white;
}

#game {
    border-color: white;
}

#news {
    color: white;
}

.line {
	border-top-color: white;
}

.sub-line {
	border-top-color: #fff2;
}

.select_div {
    background: #444;
    border-color: #666;
}

button.bought {
    border-color: #1e801e;
    background: #186618;
}

button:not(.bought).locked {
    cursor: not-allowed;
    background: #222;
}

.o-upgrade-btn--id {
    color: #fff8;
}

.tab_btn_tooltip,.save-slot,.auto_div,.modifier-slot,.changelog-slot {
    background: #444;
    border-color: #666;
}

subtitle {
    color: #fff8;
}